<!doctype html>
<html ng-app="translateExample" ng-cloak>
<head>
    <title>Example Usage - angular-translate</title>
    <style>
        .ng-cloak, [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body>


<div ng-controller="testCtrl">

    <a id="btn-en" href="#" ng-click="switchLanguage('en-us')">en-us</a>
    <a id="btn-mk" href="#" ng-click="switchLanguage('mk')">mk</a>
    <a id="btn-es" href="#" ng-click="switchLanguage('es')">es</a>

    <span ng-bind="'Hello' | translate:translator.current"></span>.
    <span ng-bind="'Bye' | translate:translator.current"></span>!

</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="../angular-translate.js"></script>
<script src="js/example.js"></script>
</body>
</html>